table {
    border: 1px solid silver;
}
th {
    background-color: yellow;
    color: black;
}
td {
    background-color: black;
    color: cornsilk;
}
td:hover {
    background-color: darkgreen;
    color: white;
}
